.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background: rgba(255, 255, 255, 0.9);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cat-image{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.cat-content{
    height: 90vh;
    width: 100%;
}
