@font-face {
    font-family: 'Comic Sans MS';
    src: url('/static/fonts/COMIC.TTF');
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background: rgba(255, 255, 255, 0.9);
    max-width: 50em;
}

.content > figure > img {
    width: 700px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cat-image{
    object-fit: contain;
    max-width: 100%;
    max-height: 90%;
}
.cat-content{
    height: 90vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    vertical-align: top;
    display: inline-block;
}
