<title>Editing: {{title}}</title>
<head>
    <link rel="stylesheet" href="/static/wordart.scss">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="stylesheet" href="/static/blog-style.css">
    <script src="/static/scripts/yt_playbutton.js"></script>
</head>

<style>
    body {
        background-image: url('/static/maxie-boi.gif');
        font-family: "Comic Sans MS";
    }
</style>

<body>

  {% if blog_id %}
    <form action="/blog/{{blog_id}}/save" method="POST">
  {% else %}
    <form action="/blog/create_new" method="POST">
  {% endif %}
  <!-- <form action="/blog/{{blog_id}}/save" method="POST"> -->
    Title: <textarea name="title">{{title}}</textarea>
    <textarea id="markdown-editor" name="content">{{initial_text}}</textarea>
    <button type="submit">Save Content</button>
  </form>
  {% if blog_id %}
    <a href="/blog/{{blog_id}}">view</a>
  {% endif %}
  <a href="/blog/admin">back to admin</a>

  <!-- <script type="module" src="https://cdn.jsdelivr.net/npm/markdown-text-editor@1.0.1/dist/markdown-text-editor.min.js"></script> -->
  <script type="module" src="/static/node_modules/markdown-text-editor/dist/markdown-text-editor.umd.js"></script>
  <script type="module">
  const editor = new MarkdownEditor('#markdown-editor', {
    placeholder: 'Write your markdown...',
    toolbar: [
      'heading', 
      'bold', 
      'italic', 
      'strikethrough', 
      'ul', 
      'ol', 
      'checklist', 
      'blockquote', 
      'link', 
      'preview'
    ],
  });
  </script>
<script src="https://www.youtube.com/iframe_api"></script>
<div style="position: fixed; bottom: 0px; background: green">
    Go back <a href="/">home 🏠</a> || Play Music! 👉
    <div
        data-video={{music_id | safe}}
        data-autoplay="0"
        data-loop="1"
        id="youtube-audio"
        style="display:inline"
    ></div>
</div>
</br>
</body>
