<title>Freddie is the cutest cat in the world</title>
<head>
    <link rel="stylesheet" href="static/wordart.scss">
    <link rel="stylesheet" href="static/general.css">
</head>

<style>
    body {
        background-image: url('static/maxie-boi.gif');
        font-family: "Comic Sans MS";
    }
</style>

<body>
<div class="content">
    {{mkd_text | safe}}
</div>

<h2>
    Click the play button for an authentic 2000s experience!
</h2>
<audio controls src="static/welcome_to_my_wife.mp3" loop="true"></audio>
</body>
